# Neon Serverless PostgreSQL Connection String
DATABASE_URL="postgresql://neondb_owner:password@ep-sample-12345.eu-central-1.aws.neon.tech/neondb?sslmode=require"

# NextAuth / App Secret
NEXTAUTH_SECRET="change-this-to-a-secure-random-secret"
NEXTAUTH_URL="http://localhost:3000"
